
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina de INICIO</title>
</head>
<body>
    <div>
       @ViewBag.Saludando World (Desde la vista)
        <p>We re going to have an exciting party.<br/>(to do: sell it better. Add pictures or something.)</p>
        <center><a asp-action="RsvpForm">Reserve ahora</a></center>
    </div>
</body>
</html>